.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

/* 이 경우 모든 컴포넌트의 버튼에 스타일이 적용됨. */
.Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.Button:hover {
  background-color: salmon;
  color: black;
}